# Database
DATABASE_URL="postgresql://postgres:safik@localhost:5432/crm"
DIRECT_URL="postgresql://postgres:safik@localhost:5432/crm"

# JWT
JWT_ACCESS_SECRET="aa19b290035748581652b5a5917c695c38850e6b211a8ef07f4ecb7d50fda41e"
JWT_REFRESH_SECRET="37cfa04e17467e1ea3edc7a875f3b22d226a82c211dd66d38323de50971d3659"
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
 
# Server
PORT=5000
CLIENT_URL="http://localhost:5173"
 
# Email Settings (SMTP)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
SMTP_SECURE=false
SMTP_FROM='"StackDot CRM" <>'